html {
  background-image: url(dragon.jpg);
  background-size: cover;
  background-color: white;
}
h1 {
  text-align: center;
  background-color: burlywood;
  color: rebeccapurple;
}
h2 {
  text-align: center;
  color: rebeccapurple;
  background-color: bisque;
}
h3 {
  font-family: sans-serif;
  font-size: 35px;
  color: green;
}
p {
  font-size: 25px;
  background-color: green;
}
